.content__send__message{

    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    bottom: 12px;
    margin-right: 12px;
    margin-left: 12px;
    margin-bottom: 12px;
}


.content__send__message__form{
height: 52px;
width: 100%;
display: flex;
align-items: center;
border: 1px solid rgb(0, 0, 0);
border-radius: 20px;
position: relative;
background-color: #242626;


}

.content__send__message__form label{

display: none;
}

.content__send__message__form-input{

    height: 100%;
    width: 100%;
    /* max-width: 569px; */
    border: none;
    background-color: transparent;
    color: var(--variable-color-texto);
    font-size: 16px;
    padding: 0px 10px;
    border-radius: 20px;
    overflow: hidden;
}

.content__send__message__form-button{
    display: flex;
    align-items: center;
    position: relative;
    /* justify-content: ; */
    height: 100%;
    width: 45px;
    border: none;
    background-color: transparent;
    color: var(--variable-color-texto);
    font-size: 16px;
    padding: 0px 20px;
    border-radius: 20px;}


.content__send__message__form-button i{

display: flex;
position: absolute;
right: 15px;
top: 15px;

font-size: 20px;

}

