.aside__screen{

background-color: var(--variable-color-fondo);
height: 100%;
width: 100%;
padding-top: 14px;

padding-right: 10px;
padding-left: 10px;
/* overflow-y: scroll; */
}


.aside__screen-header{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}


.aside__screen-header-contacts{

    display: flex;
    flex-direction: row;
    gap: 15px;


}

.aside__screen-header-contacts a{

    padding: 8px;
}

.aside__screen-header-contacts-button{
    height: 40px;
    width: 40px;
    border: none;
    padding: 8px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;

}

.aside__screen-header-contacts-button svg{

height: 24px;
color: var(--variable-color-texto);

}

.aside__screen-header-title{

    font-size: 28px;
    font-family: var(--fuente-principal);
    font-weight: 700;
    color: var(--variable-color-texto);
}