@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");


/* Estilo base para todos los mensajes */


/* Estilos específicos para los mensajes enviados por el usuario actual */
.message__content-mine {
    word-wrap: break-word;
    max-width: 60%;
    min-width: 100px;
    margin-bottom: 12px;
    font-size: 14px;
    background-color: var(--variable-color-mensaje-enviado); /* Color verde de WhatsApp */
    align-self: flex-end; 
    padding: 10px 7px 10px 9px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

/* Estilos específicos para los mensajes del receptor */
.message__content-other {
    margin-bottom: 12px;
    font-size: 14px;   
    background-color: var(--variable-color-mensaje-recibido); /* Color oscuro para los mensajes del otro */
    align-self: flex-start; /* Alinea el mensaje a la izquierda */
    padding: 10px 7px 10px 9px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    min-width: 100px;
    max-width: 60%;
    word-wrap: break-word;

}


.message-text{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.message-info{
    float: right;
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: center;
    position: relative;
    top: 9px;
    margin-left: 10px;
    margin-right: 10px;
}

.message-status img{
    width: 16px;
    height: 16px;
}

.message-buttom {
    background: transparent;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    color: white;
}

.message-buttom i {
    font-size: 1.2em;
}